In [1]:
import pandas as pd
import requests
import numpy as np
import time
from pandas.io.json import json_normalize 
pd.set_option('display.max_columns', None)

In [2]:
def get_data_count(url):
    data_count = requests.get(url).json()
    print("count: " + str(data_count['count']))

In [3]:
def get_data(url):
    data = requests.get(url).json()['results']
    return pd.DataFrame.from_dict(json_normalize(data))

In [4]:
def get_data_features(url):
    data = requests.get(url).json()['results']
    return pd.DataFrame.from_dict(json_normalize(data['features']))

#### Implemented June 2018 Lines 35, 36, 54, 56, 99 - new general purpose left turn lane near eastbound stop at SW Harrison St / 4th Ave.  Bus delay at signal.

In [5]:
url = 'http://service.civicpdx.org/transportation2019/v1/toad/disturbanceStops/?months=5,7&time_range=14.5,18.75&years=2018&directions=O&lines=35,36,54,56,99&service_key=W&bounds=-122.681233,45.510522,-122.680536,45.510552'

In [6]:
get_data_count(url)

count: 31

In [7]:
url = 'http://service.civicpdx.org/transportation2019/v1/toad/disturbanceStops/?months=5,7&time_range=14.5,18.75&years=2018&directions=O&lines=35,36,54,56,99&service_key=W&bounds=-122.681233,45.510522,-122.680536,45.510552'

In [8]:
harrison_pm = get_data_features(url)

In [9]:
harrison_pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 19 columns):
geometry.coordinates             31 non-null object
geometry.type                    31 non-null object
id                               31 non-null int64
properties.act_arr_time          31 non-null object
properties.act_dep_time          31 non-null object
properties.day                   31 non-null int64
properties.day_of_week           31 non-null int64
properties.duration              31 non-null object
properties.end_quarter_hour      31 non-null float64
properties.latitude              31 non-null float64
properties.line_id               31 non-null int64
properties.longitude             31 non-null float64
properties.month                 31 non-null int64
properties.opd_date              31 non-null object
properties.pattern_direction     31 non-null object
properties.service_key           31 non-null object
properties.start_quarter_hour    31 non-null float64
properties.year                  31 non-null int64
type                             31 non-null object
dtypes: float64(4), int64(6), object(9)
memory usage: 4.7+ KB

In [10]:
# Convert duration to seconds
harrison_pm['properties.duration'] = pd.to_timedelta(harrison_pm['properties.duration'], unit='s')

In [11]:
harrison_pm.head()

,geometry.coordinates,geometry.type,id,properties.act_arr_time,properties.act_dep_time,properties.day,properties.day_of_week,properties.duration,properties.end_quarter_hour,properties.latitude,properties.line_id,properties.longitude,properties.month,properties.opd_date,properties.pattern_direction,properties.service_key,properties.start_quarter_hour,properties.year,type
0,"[-122.6811483, 45.510541667]",Point,10888276,2018-05-17T23:21:15Z,2018-05-17T23:21:41Z,17,4,00:00:26,16.25,45.510542,99,-122.681148,5,2018-05-17,O,W,16.25,2018,Feature
1,"[-122.681085, 45.510551667]",Point,11021831,2018-05-15T22:19:43Z,2018-05-15T22:20:13Z,15,2,00:00:30,15.25,45.510552,54,-122.681085,5,2018-05-15,O,W,15.25,2018,Feature
2,"[-122.6811517, 45.51054]",Point,11121478,2018-05-19T00:30:01Z,2018-05-19T00:30:43Z,18,5,00:00:42,17.50,45.510540,99,-122.681152,5,2018-05-18,O,W,17.50,2018,Feature
3,"[-122.68113, 45.510545]",Point,11125850,2018-05-16T01:58:10Z,2018-05-16T01:58:29Z,15,2,00:00:19,18.75,45.510545,54,-122.681130,5,2018-05-15,O,W,18.75,2018,Feature
4,"[-122.681125, 45.510531667]",Point,11521805,2018-05-23T00:24:29Z,2018-05-23T00:24:43Z,22,2,00:00:14,17.25,45.510532,99,-122.681125,5,2018-05-22,O,W,17.25,2018,Feature

In [12]:
harrison_pm[harrison_pm['properties.month'] == 5].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 19 columns):
geometry.coordinates             22 non-null object
geometry.type                    22 non-null object
id                               22 non-null int64
properties.act_arr_time          22 non-null object
properties.act_dep_time          22 non-null object
properties.day                   22 non-null int64
properties.day_of_week           22 non-null int64
properties.duration              22 non-null timedelta64[ns]
properties.end_quarter_hour      22 non-null float64
properties.latitude              22 non-null float64
properties.line_id               22 non-null int64
properties.longitude             22 non-null float64
properties.month                 22 non-null int64
properties.opd_date              22 non-null object
properties.pattern_direction     22 non-null object
properties.service_key           22 non-null object
properties.start_quarter_hour    22 non-null float64
properties.year                  22 non-null int64
type                             22 non-null object
dtypes: float64(4), int64(6), object(8), timedelta64[ns](1)
memory usage: 3.4+ KB

In [13]:
harrison_pm[harrison_pm['properties.month'] == 7].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 22 to 30
Data columns (total 19 columns):
geometry.coordinates             9 non-null object
geometry.type                    9 non-null object
id                               9 non-null int64
properties.act_arr_time          9 non-null object
properties.act_dep_time          9 non-null object
properties.day                   9 non-null int64
properties.day_of_week           9 non-null int64
properties.duration              9 non-null timedelta64[ns]
properties.end_quarter_hour      9 non-null float64
properties.latitude              9 non-null float64
properties.line_id               9 non-null int64
properties.longitude             9 non-null float64
properties.month                 9 non-null int64
properties.opd_date              9 non-null object
properties.pattern_direction     9 non-null object
properties.service_key           9 non-null object
properties.start_quarter_hour    9 non-null float64
properties.year                  9 non-null int64
type                             9 non-null object
dtypes: float64(4), int64(6), object(8), timedelta64[ns](1)
memory usage: 1.4+ KB

In [14]:
# Get total delay in seconds for 2018
harrison_pm[harrison_pm['properties.month'] == 5]['properties.duration'].dt.total_seconds().sum()

637.0

In [15]:
# Get total delay in seconds for 2019
harrison_pm[harrison_pm['properties.month'] == 7]['properties.duration'].dt.total_seconds().sum()

232.0